$navy:        #094459;
$teal:        #38B4C1;
$red:         #FF7761;
$yellow:      #FFDC7B;
$sky:         #D4E8F5;
$fadedteal:   #579098;
$fadedsky:    #90B0C4;

$white:       #FFFFFF;
$lightgray:   #EFF0E8;
$mediumgray:  #93948F;
$darkgray:    #3A3B39;

$twitterblue: #55ACEE;
$googlered:   #D85046;

$max-width: 1000px;
