@import 'variables';

#flash-message {
  position: fixed;
  z-index: 100;
  top: $header-height;
  left: 0;
  right: 0;
  opacity: 0.9;
  line-height: $flash-message-height;
  text-align: center;
  font-size: 1.15rem;
  color: $white;
  background: $darkgray;

  &.error   { background: darken($red, 15%); }
  &.alert   { background: $yellow; color: $mediumgray; }
  &.notice  { background: $navy; }
  &.success { background: $fadedteal; }
}

.flash-message-transition-enter {
  height: 1px;
  opacity: 0.6;
}

.flash-message-transition-enter-active {
  height: $flash-message-height;
  opacity: 0.9;
  transition: 0.5s ease-out;
}

.flash-message-transition-leave {
  height: $flash-message-height;
  opacity: 0.9;
}

.flash-message-transition-leave-active {
  height: 1px;
  opacity: 0.2;
  transition: 0.3s ease-in;
}
