@import 'variables';

// VARIABLES

$square-size: 42px;
$num-of-squares: 13;
$gutter-width: 8px;
$tile-board-size: 42px;
$tile-rack-size: 50px;
$rack-height: $tile-rack-size + ( $gutter-width * 2);
$side-panel-width: 280px;
$board-width: $square-size * $num-of-squares + ($gutter-width * 2);
$game-width: $board-width + ( $gutter-width * 2 ) + $side-panel-width;

// MIXINS
@mixin tile($size) {
  width: $size;
  height: $size;
  background: $yellow;
  cursor:default;
  -webkit-box-shadow:
    0.5px 0.5px 0px $fadedyellow,
    1px 1px 0px $fadedyellow,
    1.5px 1.5px 0px $fadedyellow,
    2px 2px 0px $fadedyellow,
    2.5px 2.5px 0px $fadedyellow,
    3px 3px 0px $fadedyellow,
  ;
  box-shadow:
    0.5px 0.5px 0px $fadedyellow,
    1px 1px 0px $fadedyellow,
    1.5px 1.5px 0px $fadedyellow,
    2px 2px 0px $fadedyellow,
    2.5px 2.5px 0px $fadedyellow,
    3px 3px 0px $fadedyellow,
  ;

  &.draggable { cursor: move; }

  &.is-dragging { opacity: 0.7; }

  &.is-established {
    background: lighten($yellow, 15%);
  }

  .tile-letter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: $size * 0.5;
    line-height: $size;
    text-align: center;
    font-weight: 700;
    color: $darkgray;
  }

  .tile-points {
    position: absolute;
    top: 0;
    right: -2px;
    width: $size * 0.4;
    height: $size * 0.4;
    line-height: $size * 0.4;
    text-align: center;
    font-size: $size * 0.25;
  }
}

#game {
  position: relative;
  left: 0;
  right: 0;
  margin: 1rem auto;
  width: $game-width;

  #board {
    // TODO: Make this a little more responsive
    width:  $board-width;
    height: $board-width;
    padding: $gutter-width;
    display: flex;
    flex-wrap: wrap;
    background: $lightgray;
    user-select: none;

    .board-square {
      position: relative;
      width: $square-size;
      height: $square-size;
      background: $white;
      border-top: 1px solid #CCC;
      border-left: 1px solid #CCC;

      &.dragged-over {
        background: darken($white, 8%);
      }

      // Only the right-edge ones should have a right border
      &:nth-child(#{$num-of-squares}n) {
        border-right: 1px solid #CCC;
      }
      // Only the bottom row should have a bottom border.
      // Math = width * width - width + 1.
      // eg.      13  *  13   - 12
      &:nth-child(n+#{$num-of-squares * $num-of-squares - $num-of-squares + 1}) {
        border-bottom: 1px solid #CCC;
      }
    }

    .turn-points {
      position: absolute;
      z-index: 3;
      right: -5px;
      bottom: -5px;
      width: $square-size / 2;
      height: $square-size / 2;
      line-height: $square-size / 2;
      color: $white;
      background: $red;
      border-radius: 100%;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      cursor: default;
    }

    .tile {
      position: absolute;
      z-index: 2;
      top:  ($square-size - $tile-board-size) / 2 - 3px;
      left: ($square-size - $tile-board-size) / 2 - 3px;
      @include tile($tile-board-size);
    }

    .bonus-square {
      position: absolute;
      z-index: 1;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      color: $white;
      text-align: center;
      line-height: $square-size;
      font-weight: 700;
      font-size: 0.75rem;
      text-transform: uppercase;
      cursor: default;

      &.dl {
        background: $tile-dl;
        border: 1px solid darken($tile-dl, 10%);
      }
      &.tl {
        background: $tile-tl;
        border: 1px solid darken($tile-tl, 10%);
      }
      &.dw {
        background: $tile-dw;
        border: 1px solid darken($tile-dw, 10%);
      }
      &.tw {
        background: $tile-tw;
        border: 1px solid darken($tile-tw, 10%);
      }
    }
  }

  #side-panel {
    background: $white;
    width: $side-panel-width;
    float: right;

    .side-panel-title {
      background: $navy;
      color: $white;
      font-size: 1.25rem;
      text-align: center;
      padding: 1rem;
    }

    $player-row-height: 3rem;
    $player-row-padding: 0.6rem;

    .side-panel-players {
      background: $darkgray;
      color: $white;

      .side-panel-player {
        position: relative;
        line-height: $player-row-height;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        font-size: 0.8rem;
        transition: 500ms;

        &:first-of-type {
          .points {
            color: $yellow;
          }
        }

        &:last-of-type {
          border-bottom: 0;
        }

        .player-data {
          position: relative;
          z-index: 2;
        }
        .player-progress {
          position: absolute;
          top: 0;
          left: 0;
          bottom: -1px;
          background: $green;
          width: 100%;
          border-bottom: 1px solid rgba(255,255,255,0.2);
          transition: 2s;
          transform-origin: left;
        }

        .avatar {
          width: $player-row-height - 0.8rem;
          height: $player-row-height - 0.8rem;
          border-radius: 100%;
          float: left;
          margin: 0.4rem $player-row-padding;
          background-size: cover;
          background-position: center center;
        }

        .points {
          position: absolute;
          font-weight: bold;
          color: $mediumgray;
          top: 0;
          right: $player-row-padding;
          bottom: 0;
        }

      }
    }

    .side-panel-turns {
      background: $lightgray;
      padding: $gutter-width;
      height: 350px;
      max-height: 350px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .side-panel-turn {
        padding: $gutter-width;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        font-size: 13px;
        font-weight: 100;
        text-align: center;
        opacity: 0.75;

        &:last-of-type {
          border-bottom: 0;
        }

        &.my-turn {
          opacity: 1;
        }
      }

      .turn-data {
        font-weight: 500;
      }
      .turn-word {
        color: $red;
      }
    }


    .tile-swap-container {
      .enable-swap {
        width: 100%;
      }

      .button-container {
        display: flex;

        .submit {
          flex: 3;
          border-radius: 3px 0 0 3px;
        }
        .cancel {
          flex: 1;
          border-radius: 0 3px 3px 0;
        }
      }

      .tile-swap-bucket {
        display: flex;
        padding: 4px 4px 0;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 0;
        text-align: center;

        .tile-square {
          position: relative;
          flex: 0 1 ($side-panel-width / 4) - 2px;
          height: ($side-panel-width / 4) - 2px;


          .tile {
            position: absolute;
            z-index: 2;
            top: 11px;
            left: 11px;
            margin: auto;
            @include tile($tile-board-size);
          }

          .tile-placeholder {
            position: absolute;
            z-index: 1;
            top: 4px;
            left: 4px;
            right: 4px;
            bottom: 4px;
            border: 2px dashed rgba(0,0,0,0.2);
          }

          &.contains-tile .tile-placeholder {
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 3px;
          }
        }
      }
    }

    .pass-turn-container {
      padding-top: 0 !important;
      .button { width: 100%; }
    }
  }

  #tile-rack {
    position: relative;
    margin-top: $gutter-width * 2;
    width: $board-width;
    height: $rack-height;
    background: $white;
    padding: $gutter-width;
    text-align: center;
    user-select: none;

    &.moused-over {
      box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
    }

    .tile {
      position: relative;
      display: inline-block;
      margin-right: $gutter-width;
      @include tile($tile-rack-size);
    }

  }

  #controls {
    position: relative;
    margin-top: $gutter-width * 2;
    width: $board-width;
    background: $white;
    display: flex;

    &.my-turn {
      .turn-indicator {
        background: $navy;
        transition: 0.4s;
      }
    }
    &.their-turn {
      .turn-indicator {
        background: $mediumgray;
        transition: 0.4s;
      }
    }

    & > div, & > button {
      display: inline-block;
    }

    .turn-indicator {
      flex: 0 0 150px;
      line-height: 50px;
      text-align: center;
      font-weight: 500;
      color: $white;
      padding: 0 1rem;

    }
    .submit-word-container {
      padding: $gutter-width;
      flex: 1;

      .submit-word {
        width: 100%;
        background: $red;
        color: $white;

        &:disabled {
          background: $mediumgray;
        }
      }
    }

    .other-actions-container {
      padding: $gutter-width 0;
      flex: 0 0 110px;

      button {
        width: 46px;
        height: 2.3rem;
        padding-top: 4px;
        border-radius: 3px;
        border: 0;
        outline: none;
        color: $white;
        background: $fadedteal;
        font-weight: 500;
        transition: background 0.5s;
        margin-right: $gutter-width;

        &:disabled {
          background: $mediumgray;
        }
      }
    }
  }

  #results {
    img {
      width: 145px;
    }

    h2 {
      font-size: 52px;
      font-weight: 900;
      margin: 1rem 0 2rem 0;
    }

    p {
      font-size: 18px;
      line-height: 1.3em;
      margin-bottom: 2rem;
    }

    .win h2 {
      color: $green;
    }

    .lose h2 {
      color: $red;
    }
  }

  #notice {
    position: relative;
    padding: $gutter-width*2;
    margin: $gutter-width*2 0;
    background: $white;
    text-align: center;
    width:  $board-width;
    animation: float 10s ease-in-out infinite;

    h2 {
      position: relative;
      font-size: 1.5rem;
      font-weight: 700;
      animation: pulse 4.5s infinite;
    }

    @keyframes pulse {
      0%    { opacity: 0.4; }
      50%   { opacity: 1;   }
      100%  { opacity: 0.4; }
    }

    @keyframes float {
      0%    { transform: translate(0, -4px); }
      50%   { transform: translate(0, 4px); }
      100%  { transform: translate(0, -4px); }
    }
  }


  $card-width: 425px;
  $card-height: 550px;

  #rules-card {
    .modal-outer {
      width: $card-width + 12px;
      height: $card-height + 12px;
    }
    .modal-inner {
      width: $card-width;
      height: $card-height;

      padding: 0;
      overflow: hidden;
    }

    h2 {
      background: $red;
      color: $white;
      font-size: 2.5rem;
      font-weight: 700;
      padding: 1.3rem;
    }

    .rule-image {
      width: 284px;
      margin: 1rem 0;
    }

    p {
      font-size: 20px;
    }

    .rule {
      width: $card-width;
      float: left;
    }

    .rules-container {
      position: relative;
      width: 300%;
      transition: 0.5s;
      margin: 0.5rem 0;
    }

    .dots-container {
      clear: both;
      padding: 2rem 0 1rem;

      .arrow {
        position: relative;
        display: inline-block;
        width: 0;
      	height: 0;
        margin: 14px 32px;
        cursor: pointer;
        transition: 0.5s;

        &.left {
          border-top: 10px solid transparent;
        	border-bottom: 10px solid transparent;
        	border-right:10px solid lighten($mediumgray, 20%);
        }
        &.right {
          border-top: 10px solid transparent;
        	border-bottom: 10px solid transparent;
        	border-left:10px solid lighten($mediumgray, 20%);
        }

        &:hover {
          transition: 0.25s;
          &.left { border-right:10px solid $green; }
          &.right { border-left:10px solid $green; }
        }
      }

      .dot {
        position: relative;
        display: inline-block;
        width: 1.5rem;
        height: 2rem;
        margin: 0.5rem;
        cursor: pointer;

        &:after  {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 100%;
          background: $mediumgray;
          transition: 0.7s;
        }

        &.selected {
          &:after  {
            transform: scale(2,2);
            transition: 0.35s;
          }
        }
      }
    }

    .button {
      font-size: 14px;
      width: 200px;
      height: 50px;
    }
  }
}
