$navy:        #094459;
$teal:        #38B4C1;
$red:         #FF7761;
$yellow:      #FFD959;
$sky:         #D4E8F5;
$fadedteal:   #579098;
$fadedsky:    #90B0C4;

$white:       #FFFFFF;
$lightgray:   #EFF0E8;
$mediumgray:  #93948F;
$darkgray:    #3A3B39;

$twitterblue: #55ACEE;
$googlered:   #D85046;

$max-width:   1000px;

$header-height:         4rem;
$header-height-button:  2.5rem;
$nav-link-spacing:      1.5rem;

$flash-message-height:  3rem;
