$navy:        #094459;
$red:         #FF7761;
$sky:         #D4E8F5;
$teal:        #38B4C1;
$green:       #52B87D;
$yellow:      #FFD959;
$fadedsky:    #90B0C4;
$fadedteal:   #579098;
$fadedyellow: #BDA259;


$tile-dl:     $green;
$tile-tl:     #5AA6B5;
$tile-dw:     #B05337;
$tile-tw:     #D9A74E;

$white:       #FFFFFF;
$lightgray:   #EFF0E8;
$mediumgray:  #93948F;
$darkgray:    #3A3B39;

$twitterblue: #55ACEE;
$googlered:   #D85046;

$max-width:   1000px;

$header-height:         4rem;
$header-height-button:  2.5rem;
$nav-link-spacing:      1.5rem;

$flash-message-height:  3rem;
