@import './reset.scss';
@import './variables.scss';

@import './flash_message.scss';
@import './forms.scss';
@import './game.scss';
@import './games_list.scss';
@import './header.scss';
@import './parts.scss';
@import './register.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: $teal;
}

html, body, input, button, textarea, select {
  font-family: 'museo-sans', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $red;
}

strong {
  font-weight: 700;
}

.hide {
  display: none !important;
}

.flexbox {
  display: flex;
}
.flex-item {
  flex: 1;
}

// TEMP. Just to make life better in development.
#app-view, #main-layout-header, #flash-message {
  width: 70%;
}
